* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --Moderateblue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --Lightgrayishblue: hsl(239, 57%, 85%);
  --Palered: hsl(357, 100%, 86%);
  --Darkblue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --Lightgray: hsl(223, 19%, 93%);
  --Verylightgray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
}
body {
  background-color: var(--Lightgray);
}
.current-user {
  background-color: var(--White);
  width: 100%;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.holder {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.input {
  outline: none;
  border: 1px solid var(--Lightgray);
  border-radius: 8px;
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 20px;
  resize: none;
}
.profile {
  width: 40px;
}
.profile img {
  width: 100%;
}
.send-btn {
  background-color: var(--Moderateblue);
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--White);
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.send-btn:hover {
  background-color: var(--Lightgrayishblue);
}

@media (min-width: 900px) {
  .container {
    width: 60%;
  }
  .current-user {
    align-items: flex-start;
  }
  .holder {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  .input {
    width: 100%;
    margin: 0 20px 0 20px;
  }
  .profile {
    width: 50px;
  }
  .send-btn {
    position: relative;
    margin-right: unset;
    right: unset;
  }
}
